body {
    
    margin: 0;
    padding: 0;
}

.masina {

    height: 800px;
    width: 1500px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(65, 161, 199);
}

.vidus {

    position: relative;
    height: 200px;
    width: 1000px;
    background-color: rgb(209, 83, 9);
    margin: auto;
    bottom: 600px;
}

.jumts {

    position: relative;
    height: 200px;
    width: 200px;
    background-color: rgb(230, 197, 14);
    margin: auto;
    top: -200px;
    
}

.jumts1 {

    position: relative;
    border-bottom: 200px solid rgb(199, 137, 2);
    border-left: 100px solid transparent;
    height: 0;
    width: 100px;
    top: -400px;
    left: 450px;
    
}

.jumts2 {

    position: relative;
    border-bottom: 200px solid rgb(199, 137, 2);
    border-right: 100px solid transparent;
    height: 0;
    width: 100px;
    top: -600px;
    left: 850px;
}

.ritenis1 {

    position: relative;
    height: 200px;
    width: 200px;
    background-color: rgb(17, 14, 19);
    border-radius: 100px;
    top: 500px;
    left: 400px;
}

.ritenis2 {
    
    position: relative;
    height: 200px;
    width: 200px;
    background-color: rgb(17, 14, 19);
    border-radius: 100px;
    top: 300px;
    left: 850px;
}


    
